# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Python
__pycache__/
*.py[cod]
*.pkl
*.h5

# Streamlit
.streamlit/

# IDEs
.idea/
.vscode/
*.iml

# Datasets & Models (very important)
Sipakmed_Dataset/
Sipakmed_Processed/
Sipakmed_Train/
Sipakmed_Test/
Sipakmed_Val/
For Training in Front end/

# Misc
*.zip
*.csv
.DS_Store
